$font: url('../../fonts/Under\ the\ Weather.otf');
// WeatherColors.scss
$color-primary: #3498db; // Azul claro - para resaltar información principal
$color-secondary: #2ecc71; // Verde - para elementos positivos o destacados
$color-accent: #f39c12; // Amarillo - para elementos de atención o alerta
$color-background: #ecf0f1; // Gris claro - fondo de la página
$color-text: #333; // Negro - color de texto principal
$color-border: #bdc3c7; // Gris - para bordes y separadores

// Estilos adicionales
$color-success: #27ae60; // Verde más oscuro - para mensajes de éxito
$color-warning: #e74c3c; // Rojo - para advertencias o mensajes de error
$color-info: #3498db; // Azul - para información general